{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h1>{{customer_record.first_name}} {{customer_record.last_name}}</h1>
    </div>
    <div class="card-body">
      <p class="card-text">
        <strong>Email: </strong>{{customer_record.email}}<br>
        <strong>Phone: </strong>{{customer_record.phone}}<br>
        <strong>Address: </strong>{{customer_record.address}}<br>
        <strong>City: </strong>{{customer_record.city}}<br>
        <strong>State: </strong>{{customer_record.state}}<br>
        <strong>Zipcode: </strong>{{customer_record.zipcode}}<br>
      </p>
      
    </div>

  </div>
  <br>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
{% endblock %}